<%- include('partials/header'); -%>
<div class="productsCont">
    <% for(let i =0; i<3;i++){%>
    <% for(let j =0; j<4;j++){%>     
        <div class="product">
            <img class="productImg" src="/<%= (products[i])[j].img%>" alt="product image">
            <a href="/<%=s[i]%>/<%= (products[i])[j].name%>">
        <h1><%= (products[i])[j].name %></h1>
        <h2>₹<%= (products[i])[j].price %>/- </h2>
    <p>M.R.P: ₹<span class="strike">1,99,999</span></p>
    <%if(i%2==0){%>
        <p>Save extra with No Cost EMI</p>
        <%}%>
        <div>
        <img src="prime_logo.jpeg" alt="" class="prime_logo">
        <p>Get it by <b>Saturday, 22 July</b><br>FREE Delivery by Amazon</p>
    </div>
    </a>
    </div>
        <%} %>
        <%} %>
    </div>
<%- include('partials/footer'); -%>
